<?xml version="1.0" encoding="UTF-8"?>
<config>

    <modules>
        <MDN_ElkMagento>
            <version>0.0.1</version>
        </MDN_ElkMagento>
    </modules>

    <global>
        <models>
            <MDN_elkmagento>
                <class>MDN_ElkMagento_Model</class>
            </MDN_elkmagento>

        </models>
        <events>
            <controller_action_predispatch>
                <observers>
                    <MDN_elkmagento>
                        <class>MDN_elkmagento/observer</class>
                        <method>predispatch</method>
                        <type>singleton</type>
                    </MDN_elkmagento>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch>
                <observers>
                    <MDN_elkmagento>
                        <class>MDN_elkmagento/observer</class>
                        <method>postdispatch</method>
                        <type>singleton</type>
                    </MDN_elkmagento>
                </observers>
            </controller_action_postdispatch>
        </events>
    </global>

</config>
