<?xml version="1.0" encoding="UTF-8"?>
<config>

    <modules>
        <Devart_ElkMagento>
            <version>0.0.1</version>
        </Devart_ElkMagento>
    </modules>

    <global>
        <models>
            <devart_elkmagento>
                <class>Devart_ElkMagento_Model</class>
            </devart_elkmagento>

        </models>
        <events>
            <controller_action_predispatch>
                <observers>
                    <devart_elkmagento>
                        <class>devart_elkmagento/observer</class>
                        <method>predispatch</method>
                        <type>singleton</type>
                    </devart_elkmagento>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch>
                <observers>
                    <devart_elkmagento>
                        <class>devart_elkmagento/observer</class>
                        <method>postdispatch</method>
                        <type>singleton</type>
                    </devart_elkmagento>
                </observers>
            </controller_action_postdispatch>
        </events>
    </global>

</config>
